[user]
	name = Richard Bellman
	email = ev-ft-bellman@list.bmw.com
[remote "origin"]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pager]
	branch = false
[alias]
    co = checkout
    br = branch
    ci = commit -v
    cam = commit -am
    co = checkout
    df = diff
    st = status
    sa = stash
    mt = mergetool
    cp = cherry-pick
    pl = pull --rebase
