extends c
snippet scout
	std::cout << "${1}" << std::endl;
endsnippet
snippet scouth
	std::cout << "here_${1}" << std::endl;
endsnippet
snippet Cout
	std::cout << "$1:" << std::endl << ${1} << std::endl;
endsnippet
snippet Coutv
	std::cout << "$1:" << std::endl << ${1}.transpose() << std::endl;
endsnippet
